@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #201e1f;
  --foreground: #ffffff;
  --accent: #5fdd9d;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link_detail {
  position: relative;
}

.link_detail::before {
  background-color: var(--accent);
  font-size: 17px;
  padding: 1rem 0rem 1rem 0rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: absolute;
  right: 2rem;
  z-index: -1;
}

.link_detail:hover::before {
  animation: expand 0.4s ease-in-out forwards;
  content: "Home";
}

@keyframes expand {
  from {
    padding: 1rem 0rem 1rem 0rem;
  }
  to {
    padding: 1rem 1.6rem 1rem 3rem;
  }
}

.webdeveloper {
  display: inline-block;
  position: relative;
}

.letter {
  display: inline-block;
  opacity: 0;
}
.blink {
  rotate: 90deg;
  animation: blinking 2s infinite ease-in-out;
}
@keyframes blinking {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}

li {
  list-style: none;
}
.draggable-icon {
  color: var(--accent);
  animation: jogging 4s infinite ease-in-out;
}
.draggable-icon:hover {
  /* color: var(--accent);
   
  */
  scale: 1.1;
  transition: scale 0.4s ease-in-out;
  color: white;
}
.draggable-icon:hover::after {
  content: attr(data-name);
}
@keyframes jogging {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  25% {
    transform: translateX(0px);
    transform: translateY(20px);
  }
  50% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  /* .draggable-icon {
    width: 72px;
    height: 72px;
    font-size: 40px;
  }
  .draggableIcon_mobile > div {
    color: red;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* .draggable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .skill_p {
    display: none;
  }
}
/* .item-1:hover {
  /* hover:z-50 transition-[grid-template-rows,grid-template-columns] duration-2000 ease-in-out 
  z-index: 50;
  transition: grid-template-rows 2000ms ease-in;
} */
.project_style:hover .project_style_title {
  display: none;
}
.project_style:hover .project_style_description {
  opacity: 0.8;
}
.grid_item > div {
  border: 1px solid var(--accent);
}
